<div class="container main">
  <!-- Page Content goes here -->
  <div class="row">
    <!-- <input #input  (keyup)="selectPlant(input.value)" type="number" >
    <p *ngIf="plantSelected">Vous avez sélection cette plante: {{ plantSelected.name }}</p>
    <p *ngIf="!plantSelected">Aucune plante n'a été trouvée</p> -->

    <div *ngFor="let plant of plantList" class="col l4 m6 s12" >
          <div (click)="goToPlant(plant)" class="card" plantBorderCard >
            <div class="card-image">
              <img src={{plant.picture}} alt={{plant.name}}>
            </div>
            <div class="card-content">
              <span class="card-title center">{{plant.name}}</span>
            </div>
          </div>
        </div>

    </div>
  </div>
